<div class="card mx-auto mt-5" style="width: 70%"> 
  <div class="card-header">
    <h2>
      <a href="/post/{{id}}">
        <div class="">{{post_title}}</div>
      </a>
    </h2>
    <div class="">posted by
      {{user.username}}
      on
      {{format_date date}}
    </div>
  </div>
  <p class="">
    {{post_content}}
  </p>
</div>