<div class="card mx-auto mt-5"  style="width: 70%">
  <div class="card-header">
    <h2>
      <a href="/post/{{post.id}}">
        <div class="col-8">{{post.post_title}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{post.users.username}} on {{format_date post.date}}
    </div>
  </div>  
  <p class="card-body">
   {{post.post_content}}
  </p>
</div>
<input type="hidden" name="post-id" value="{{post.id}}"/>
<div class="card">
  <div class="card-header"></div>
  <form class="card-body" id="new-comment-form">
    
    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit:</button>
  </form>
{{> comment post.comment}}
</div>
<script src="/Javascript/comment.js"></script>